

<form class="" action="/monsters/<%=@monster.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Monster:</label>
    <input type="text" name="monster[name]" value="<%=@monster.name%>">
    <br>
    <label for="">Monster Type:</label>
    <input type="text" name="monster[monster_type]" value="<%=@monster.monster_type%>">
    <br>
    <label for="weakness">Damage Weaknesses:</label>
    <input type="text" name="monster[weakness]" value="<%=@monster.weakness%>">
    <br>
    <label for="cr">Challenge Rating:</label>
    <input type="integer" name="monster[cr]" value="<%=@monster.cr%>">
    <br>
    <input type="submit" value="Submit Updated Monster">
</form>