<% if logged_in? %>
<% if @monster.user_id == current_user.id %>
<h3><u>Monster Information:</u></h3>
<br>
<p>Name: <%= @monster.name %></p>
<p>Monster Type: <%= @monster.monster_type %></p>
<p>Weakness: <%= @monster.weakness %></p>
<p>Challenge Rating: <%= @monster.cr %></p>
<a href="/monsters"><input type="button" value="Monster List"> </a>
<a href="/monsters/<%=@monster.id %>/edit"><input type="button" value="Edit Monster"> </a>

<form method="POST" action="/monsters/<%=@monster.id%>">
<input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value=" Delete " /></form>

<% else %>
<% redirect to '/monsters'%>
<%end%>
<% else %>
<% redirect to '/login'%>
<%end%>